
<div class="row mt-2">
    <div class="col-md-12">
        <div class="row">
            <div class="col col-md-12">
                <div class="card p-3 mb-2 bg-light text-dark">
                    <div class="card-body p-3 mb-2 bg-light text-dark">
                        <div class="row">
                            <div class="col-md-3">
                                <label>Full Name</label>
                                <input type="text" class="form-control txtFilterFullName" />
                            </div>
                            <div class="col-md-3">
                                <label>Contact</label>
                                <input type="text" class="form-control txtFilterContact" />
                            </div>
                            <div class="col-md-3">
                                <br />
                                <button class="btn btn-secondary btnSearch"><i class="fa fa-search"></i> Search</button>
                                <button class="btn btn-success btnNew"><i class="fa fa-plus"></i> New</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="col col-md-12 mt-2">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-hover table-striped dataTable">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Full Name</th>
                                    <th>email</th>
                                    <th>Statement</th>
                                    <th>Issue Date</th>
                                    <th>Complain Type</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody class="data-list">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btnClose" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="card text-bg-info bg-opacity-50">
                                    <div class="card-body text-bg-info bg-opacity-50">
                                        <div class="row">
                                            <div class="col-md-4">
                                                Full Name
                                            </div>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control txtFullName" />
                                            </div>
                                        </div>
                                        <div class="row mt-2">
                                            <div class="col-md-4">
                                                email
                                            </div>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control  txtemail" />
                                            </div>
                                        </div>
                                        <div class="row mt-2">
                                            <div class="col-md-4">
                                                Contact No.
                                            </div>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control txtContactNo" />
                                            </div>
                                        </div>
                                        <div class="row mt-2">
                                            <div class="col-md-4">
                                                Statement
                                            </div>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control txtStatement" />
                                            </div>
                                        </div>
                                        <div class="row mt-2">
                                            <div class="col-md-4">
                                                Address
                                            </div>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control txtAddress" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="card text-bg-info bg-opacity-50">
                                    <div class="card-body text-bg-info bg-opacity-50">
                                        <div class="row">
                                            <div class="col-md-4">
                                                Complain Type
                                            </div>
                                            <div class="col-md-8">
                                                <select class="form-control ddlComplainType">
                                                    <option value="0">--Select--</option>
                                                    <option value ="1">Finance</option>
                                                    <option value ="2">Tech</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row mt-2">
                                            <div class="col-md-4">
                                                Issue Date
                                            </div>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control txtIssueDate nepdate-picker" />  
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btnCancel" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary btnSave">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="mdlSetupForStatus" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Complain </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-3">Status</div>
                                    <div class="col-md-9">
                                        <select class="form-control ddlComplainStatus">
                                        </select>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-3">Remarks</div>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control txtRemarks">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="hidden" class="UpdatehdnId" value=0 />
                <button type="button" class="btn btn-secondary btnUpdateStatusClose">Close</button>
                <button type="button" class="btn btn-primary btnUpdateStatusSave">Save changes</button>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        $(document).ready(function() {
            loadAllComplain();
            loadComplainStatus();
        })

        $(document).on("click",".btnNew", function(){
            $("#exampleModal").modal('show')
        })

        $(document).on("click", ".btnClose", function(){
            $("#exampleModal").modal("hide")
        })

        $(document).on("click",".btnCancel", function() {
            var userResponse = confirm("Are you sure you want to cancel?");
            if(userResponse)
            {
                clearForm();
            }
        })

        $(document).on("click", ".btnSave", function(){
            var obj = {
                fullname : $(".txtFullName").val(),
                email : $(".txtemail").val(),
                contactNo : $(".txtContactNo").val(),
                statement : $(".txtStatement").val(),
                address : $(".txtAddress").val(),
                issueDate : $(".txtIssueDate").val(),
                complainTypeId : $(".ddlComplainType").val()
            }

            if(obj.fullname == ""){
                 $(".txtFullName").focus()
                    toastr["error"]("Enter Valid Full Name", "Error")
            }
            else if(obj.email == ""){
                 $(".txtemail").focus()
                    toastr["error"]("Enter Valid Email", "Error")
            }
            else if(obj.contactNo == ""){
                 $(".txtContactNo").focus()
                    toastr["error"]("Enter Valid Contact Number", "Error")
            }
            else if(obj.statement == ""){
                 $(".txtStatement").focus()
                    toastr["error"]("Enter Valid Statement", "Error")
            }
            else if(obj.issueDate == ""){
                 $(".txtIssueDate").focus()
                    toastr["error"]("Enter Valid Issue Date", "Error")
            }
            else if(obj.address == ""){
                 $(".txtAddress").focus()
                    toastr["error"]("Enter Valid Address", "Error")
            }
            else if(obj.complainTypeId == 0){
                 $(".txtComplainTypeId").focus()
                    toastr["error"]("Provide a complain type", "Error")
            }
            else{
                $.ajax({
                    method: "post",
                    contentType: "application/json; charset=utf-8",
                    url: "@Url.Action("SaveComplain","Complain")",
                    data: JSON.stringify(obj),
                    beforeSend: function() {
                        $.blockUI();
                    },
                    success: function(res){
                        if(res.success){
                            $('#exampleModal').modal('hide')
                            toastr["success"]("User Added successfully", "success")
                            clearForm();
                            loadAllComplain()
                        }
                        else
                        {
                            toastr["error"](res.message, "Error")
                            clearForm();

                        }
                    },
                    complete: function(){
                        $.unblockUI();
                    },
                    error: function(err){
                        console.log(err);
                        alert('Error Occured!!')
                    }
                })
            }
        })

        function clearForm(){
            $(".txtFullName").val("");
            $(".txtemail").val("");
            $(".txtContactNo").val("");
            $(".txtStatement").val("");
            $(".txtAddress").val("");
            $(".txtIssueDate").val("");
            $(".ddlComplainType").val(0);
        }

        function loadAllComplain(){
            $.ajax({
                method: "get",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("GetAllData","Complain")",
                beforeSend: function() {
                    $.blockUI();
                },
                success: function(res){
                    if(res.success)
                    {   
                        var xyz = "";

                        var data = res.data;

                        $.each(data, function(i, x){
                            xyz +=  '<tr>'
                            xyz +=  '<td>' + x.complainId + '</td>';
                            xyz +=  '<td>' + x.fullName + '</td>';
                            xyz +=  '<td>' + x.email + '</td>';
                            xyz +=  '<td>' + x.statement + '</td>';
                            xyz +=  '<td>' + x.issueDate + '</td>';
                            xyz +=  '<td>' + x.complainTypeName + '</td>';
                            xyz +=  '<td><button type="button" class="btn btn-secondary sm btnUpdateStatus me-2" data-key="' + x.complainId + '"><i class="fa fa-eye"></i> Update Status</button>';
                            xyz +=  '</tr>';
                        })

                        $(".data-list").html(xyz);

                        $(".dataTable").DataTable();
                    }
                    else {
                        toastr["error"](res.message, "ERROR")
                    }
                },
                complete: function() {
                    $.unblockUI();
                }
            })
        }

        function loadComplainStatus(){
            $.ajax({
                method: 'get',
                contentType:  "application/json; charset=utf-8",
                url: '@Url.Action("GetAllData", "ComplainStatus")',
                success: function(res){
                    if(res.success){
                        var data = res.data;

                        var xyz = '<option value=0>--select--</option>'
                        $.each(data, function(i, x ){
                            xyz += '<option value = ' + x.complainStatusID +'>' + x.complainStatusName + '</option>';
                        })
                    }

                    $('.ddlComplainStatus').html(xyz);
                }
            })
        }

        function loadComplainType() {
            $.ajax({
                methodType: 'get',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetAllData", "ComplainType")',
                success: function (res) {
                    if (res.success) {
                        var data = res.data;

                        var xyz = '<option value=0>--select--</option>';
                        $.each(data, function (i, x) {
                            xyz += '<option value=' + x.complainTypeId + '>' + x.complainTypeName + '</option>';
                        });
                        $('.ddlComplainType').html(xyz);

                    }
                }
            })
        }

         $(document).on('click', '.btnUpdateStatusSave', function() {

            // var id = setKeyValue();

            var obj = {
                complainStatusID : $('.ddlComplainStatus').val() || 0,
                remarks : $('.txtRemarks').val() || '',
                complainID : $('.UpdatehdnId').val() || 0,
                createdBy : 0,
                createdDate : ''
            }


            if(obj.complainStatusID == 0){
                toastr["error"]("Please select your complain status", "Error")
            }
            else if(obj.remarks == ''){
                toastr["error"]("Please give some remarks", "Error")
            }
            else{
                $.ajax({
                    method : 'post',
                    contentType: "application/json; charset=utf-8",
                    url: "@Url.Action("UpdateStatus", "Complain")",
                    data: JSON.stringify(obj),
                    success: function(res){
                        if(res.success){
                            toastr["success"]("Status updated successfully.")
                            clearUpdateForm();
                            $('#mdlSetupForStatus').modal('hide');

                        }
                        else{
                             toastr["error"]("Status could not be updated")
                        }
                    }
                })
            }
        });

        $(document).on('click', '.btnUpdateStatus', function() {
          var id = $(this).data("key");
          $('#mdlSetupForStatus').modal('show');
          $('.UpdatehdnId').val(id);
        })

        $(document).on('click','.btnUpdateStatusClose', function(){
        var userResponse = confirm("Are you sure you want to clear form?");

            if(userResponse){
                clearUpdateForm();
                $('#mdlSetupForStatus').modal('hide');
            }
        });

        function clearUpdateForm(){
            complainStatusID : $('.ddlComplainStatus').val(0);
            remarks : $('.txtRemarks').val('');
        }
    </script>
}

